.about-trustee-wrapper {
    background: #EEF9FF;
    color: var(--color-primary-blue);
    display: flex;
    gap: 86px;
    padding: 93px 48px 93px 70px;
    justify-content: center;
    align-self: center;
    border-radius: 32px;
    position: relative;
}

.trustee-info-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 48px;
    z-index: 1;
}

.about-trustee-description {
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
    max-width: 63%;
}

.about-trustee-info {
    display: flex;
    width: max-content;
    flex-direction: column;
    gap: 32px;
}

.about-trustee-info h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-trustee-info h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-transform: capitalize;

}

.trustee-floating-quotes {
    position: absolute;
    top: -95px;
    left: 60px;
}

/* 
.trustee-image {
    width: 500px;
    height: 500px;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
} */


.trustee-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
}

.trustee-image-wrapper img {
    object-fit: contain;
}




@media (max-width: 1780px) {

    .about-trustee-wrapper {
        gap: 86px;
        padding: 73px 50px 73px 50px;

    }

    .about-trustee-description {
        font-size: 30px;
        line-height: 40px;
    }

    .trustee-image {
        width: 400px;
        height: 400px;
    }



    .trustee-floating-quotes {
        max-width: 130px;
        position: absolute;
        top: -85px;
        left: 60px;
        z-index: 2;
    }
}

@media (max-width: 1550px) {

    .about-trustee-wrapper {
        gap: 76px;
        padding: 73px 50px;
    }

    .about-trustee-description {
        font-size: 28px;
        line-height: 36px;
    }

    .about-trustee-info h3 {
        font-size: 32px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    .trustee-image {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 1450px) {
    .about-trustee-description {
        font-size: 24px;
        line-height: 33px;
    }

    .trustee-info-wrapper {
        gap: 38px;
    }
}

@media (max-width: 1300px) {
    .about-trustee-wrapper {
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;

    }

    .trustee-image {
        width: 350px;
    }

    .about-trustee-description {
        font-size: 22px;
        line-height: 31px;
    }
}




@media (max-width: 991px) {
    .about-trustee-wrapper {
        gap: 20px;
        border-radius: 12px;
    }



}


@media (max-width: 768px) {
    .trustee-image {
        width: 80%;
        margin: 0 auto;
        max-width: 350px;
    }

    .about-trustee-wrapper {
        padding: 60px 24px 40px;
    }

    .trustee-floating-quotes {
        max-width: 90px;
        position: absolute;
        top: -80px;
        left: 30px;
    }

    .about-trustee-info {
        align-items: start;
        width: 100%;
    }

    .about-trustee-info .section-primary-button-wrapper {
        width: 100%;
    }

    .about-trustee-info h3 {
        text-align: start;
        font-size: 22px;
        line-height: 26px;
    }

    .about-trustee-info h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .about-trustee-description {
        font-size: 18px;
        line-height: 26px;
    }
}