.foundation-creating-impact-section {}

.foundation-creating-impact-section__wrapper {
    display: flex;
    align-items: center;
    gap: 72px;
}

/* LEFT IMAGE */
.foundation-creating-impact-section__image-wrapper {
    display: flex;
    justify-content: start;
}

.foundation-creating-impact-section__circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    overflow: hidden;
}

.foundation-creating-impact-section__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* RIGHT CONTENT */
.foundation-creating-impact-section__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 42px;
}


.foundation-creating-impact-section__content .section-title {
    max-width: 70%;
    text-wrap: balance;
}


.foundation-creating-impact-section__text-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
    font-size: 18px;
    line-height: 1.9;
    color: #333;
}

.foundation-creating-impact-section__text-grid p {
    font-weight: 400;
    font-size: var(--fs-18);
    line-height: 27px;
    letter-spacing: 0px;
    text-align: justify;
    text-transform: capitalize;
}


.foundation-creating-impact-section__btn {
    max-width: 48%;
}



@media (max-width: 1580px) {

    .foundation-creating-impact-section__content .section-title {
        max-width: 100%;
    }

    .foundation-creating-impact-section__circle {
        width: 500px;
        height: 500px;
    }
}




@media (max-width: 1380px) {


    .foundation-creating-impact-section__circle {
        width: 350px;
        height: 350px;
    }

    .foundation-creating-impact-section__text-grid p {
        font-size: var(--fs-16);
        line-height: 22px;
    }
}


@media (max-width:1279px) {

    .foundation-creating-impact-section__circle {
        width: 400px;
        height: 400px;
    }

    .foundation-creating-impact-section__text-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        font-size: 16px;
        line-height: 1.9;
    }

    .foundation-creating-impact-section__btn {
        max-width: 100%;
    }

    /* .foundation-creating-impact-section__wrapper {
        flex-direction: column;
        gap: 50px;
    } */
}


/* TABLET */
@media (max-width: 991px) {

    .foundation-creating-impact-section__wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .foundation-creating-impact-section__circle {
        width: 380px;
        height: 380px;
    }

    .foundation-creating-impact-section__heading {
        font-size: 42px;
    }

    .foundation-creating-impact-section__text-grid {
        grid-template-columns: 1fr;
    }

    .foundation-creating-impact-section__content {
        gap: 32px;
    }

    .foundation-creating-impact-section__text-grid {
        gap: 18px;
    }
}

/* MOBILE */
@media (max-width: 767px) {

    .foundation-creating-impact-section {
        padding: 70px 0;
    }

    .foundation-creating-impact-section__circle {
        width: 280px;
        height: 280px;
    }

    .foundation-creating-impact-section__heading {
        font-size: 32px;
    }

    .foundation-creating-impact-section__text-grid {
        font-size: 16px;
        line-height: 1.8;
    }

    .foundation-creating-impact-section__buttons {
        flex-wrap: wrap;
    }

    .foundation-creating-impact-section__btn {
        width: 100%;
    }
}