.outcomes-title-stats .section-title {
    padding-top: 34px;
}

.outcomes-title-stats {
    display: flex;
    justify-content: space-between;
    gap: 120px;

}

.outcomes-stats {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* circles */
.outcomes-stat {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background: var(--color-primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0px 11.48px 14.35px 0px #00000026;

    margin-left: -15px;

    position: relative;
}

/* first circle should not shift */
.outcomes-stat:first-child {
    margin-left: 0;
}

.outcomes-stat h5 {
    margin: 0;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
}

/* big number */
.outcomes-stat strong {
    display: block;
    font-size: 48px;
    line-height: 37px;
    font-weight: 700;
    margin-bottom: 8px;
}

.outcomes-stat span {
    display: block;
    font-size: 14px;
    line-height: 9px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

/* mobile */


.outcomes-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
}


.outcomes-description {
    display: flex;
    gap: 120px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: justify;
    text-transform: capitalize;

}

.outcomes-description-col-1,
.outcomes-description-col-2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.outcomes-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 82px 0;
}


.outcomes-marquee::after {
    content: "";
    position: absolute;
    height: 40%;
    background: linear-gradient(270deg, #EEF9FF 0%, #EEF9FF 100%);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.no-stats-component .outcomes-marquee::after {
    display: none;
}

/* moving track */

.outcomes-marquee-track {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 42px;

    animation: outcomes-scroll 72s linear infinite;
    will-change: transform;
}

.outcomes-marquee:hover .outcomes-track {
    animation-play-state: paused;
}

/* cards */

.outcomes-marquee-item {
    flex-shrink: 0;

    width: 443px;
    height: 333px;

    overflow: hidden;

    border-radius: 18px;

    background: #fff;

    border: 2px solid #fff;

    box-shadow: 0px 8px 20px 0px #00000033;

    transform: rotate(-2deg);

    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.outcomes-marquee-item:nth-child(even) {
    transform: rotate(2deg);
}

.outcomes-marquee-item:hover {
    /* transform: rotate(0deg) translateY(-6px); */

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.12),
        0 20px 40px rgba(0, 0, 0, 0.14);
}

.outcomes-marquee-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.outcomes-stats-marquee {
    display: none;
    width: 100%;
    overflow: hidden;
    padding: 18px 0 0;
}

.outcomes-stats-marquee-track {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 12px;
    animation: outcomes-stats-scroll 22s linear infinite;
    will-change: transform;
}


@keyframes outcomes-scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 16px));
    }
}

@keyframes outcomes-stats-scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 6px));
    }
}



@media (max-width: 1770px) {

    .outcomes-stat {
        width: 148px;
        height: 148px;
    }

    .outcomes-stat strong {
        font-size: 40px;
    }
}

@media (max-width: 1550px) {

    .outcomes-stat {
        width: 128px;
        height: 128px;
    }

    .outcomes-stat strong {
        font-size: 34px;
    }

    .outcomes-stat span {
        font-size: 12px;
    }

    .outcomes-description {
        gap: 60px;
    }
}



@media (max-width: 1443px) {
    .outcomes-description {
        font-size: 16px;
        line-height: 22px;
    }
}


@media (max-width: 1250px) {

    .outcomes-title-stats {
        gap: 30px;
    }

    .outcomes-stat {
        width: 108px;
        height: 108px;
    }

    .outcomes-stat strong {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .outcomes-stat span {
        text-wrap: wrap;
        max-width: 90%;
        margin: 0 auto;
        line-height: 12px;
    }
}

@media (max-width: 1080px) {
    .outcomes-title-stats {
        flex-direction: column;
        align-items: start;
    }

    .outcomes-stat {
        width: 132px;
        height: 132px;
    }

    .outcomes-stat span {
        max-width: 100%;
        white-space: nowrap;
        line-height: 16px;
    }
}

@media (max-width: 991px) {

    .outcomes-marquee-track {
        gap: 22px;
        animation-duration: 24s;
    }

    .outcomes-marquee-item {
        width: 220px;
        height: 145px;
    }


}


@media (max-width: 768px) {

    .outcomes-stat {
        width: 98px;
        height: 98px;
    }

    .outcomes-stat strong {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 0;
    }

    .outcomes-stat span {
        text-wrap: wrap;
        max-width: 90%;
        margin: 0 auto;
        line-height: 12px;
    }

    .outcomes-title-stats {
        gap: 24px;
    }

    .outcomes-description {
        gap: 42px;
    }

    .outcomes-description-col-1,
    .outcomes-description-col-2 {
        gap: 8px;
    }

    .outcomes-content {
        gap: 32px;
        margin-bottom: 30px;
    }


}

@media (max-width: 767px) {

    .outcomes-marquee {
        padding: 30px 0;
    }

    .outcomes-marquee-track {
        gap: 16px;
        animation-duration: 42s;
    }

    .outcomes-marquee-item {
        width: 250px;
        height: 185px;
        border-radius: 14px;
    }

    .outcomes-description {
        flex-direction: column;
        gap: 18px;
    }
}

@media (max-width: 500px) {

    .outcomes-stats {
        display: none;
    }

    .outcomes-stats-marquee {
        display: block;
    }

    .outcomes-title-stats {
        gap: 0px;
    }


    .outcomes-stats {
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    .outcomes-stat {
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 10px;
        /* margin-left: 0; */
        width: 100px;
        height: 100px;
    }

    .outcomes-stat strong {
        font-size: 22px;

    }

    .outcomes-stat span {
        font-size: 10px;
    }

    .our-outcomes-section {
        padding-top: 0;
    }

    .outcomes-stats-marquee-track {
        padding: 20px 0;
        margin-top: -20px;
    }

    .outcomes-stats-marquee-track .outcomes-stat {
        margin-right: 0;
        margin-bottom: 0;
        padding: 0px 0;
        /* box-shadow: none; */
    }

    .outcomes-content {
        gap: 0px;
        margin-bottom: 30px;
    }

    .hide-small-desktop {
        display: none;
    }
}




.no-stats-component .outcomes-content {
    align-items: center;
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
}


.no-stats-component .outcomes-description-col-1 {
    text-align: center;
}

.no-stats-component .section-title__heading {
    text-align: center;
}

.no-stats-component .section-title__divider {
    margin-left: auto;
    margin-right: auto;
}




@media (max-width: 1440px) {
    .no-stats-component .outcomes-content {

        max-width: 80%;

    }
}

@media (max-width: 768px) {
    .no-stats-component .outcomes-description-col-1 {
        text-align: start;
    }

    .no-stats-component .outcomes-content {

        max-width: 100%;

    }

}