.site-header {
    width: 100%;
    padding-block: 20px;
    background-color: var(--color-white);
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 30px 0px #0000001A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    position: relative;
}

.header-logo {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    max-width: 334px;
    height: 88px;
}

.header-logo img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.header-nav {
    margin: 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-menu a {
    position: relative;

    font-size: var(--fs-18);
    font-weight: var(--fw-700);
    line-height: var(--lh-100);

    color: var(--color-primary-blue);

    text-transform: uppercase;

    transition: var(--transition-primary);
}


.header-menu a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 2px;

    background-color: var(--color-primary-blue);

    transition: var(--transition-primary);
}


.header-menu a:hover::after,
.header-menu a.active::after {
    width: 100%;
}


.menu-toggle {
    display: none;

    position: relative;

    width: 48px;
    height: 48px;

    background: transparent;
    border: none;

    cursor: pointer;

    flex-shrink: 0;

    z-index: 300;
}

.menu-toggle span {
    position: absolute;
    left: 50%;

    width: 28px;
    height: 3px;

    background-color: var(--color-primary-blue);
    border-radius: 999px;

    transform-origin: center;

    transition:
        transform 0.35s ease,
        opacity 0.3s ease,
        background-color 0.3s ease;
}

/* Burger positions */

.menu-toggle span:nth-child(1) {
    top: 14px;
    transform: translateX(-50%);
}

.menu-toggle span:nth-child(2) {
    top: 22px;
    transform: translateX(-50%);
}

.menu-toggle span:nth-child(3) {
    top: 30px;
    transform: translateX(-50%);
}

/* Open state */

.menu-open .menu-toggle span:nth-child(1) {
    top: 22px;
    transform: translateX(-50%) rotate(45deg);
}

.menu-open .menu-toggle span:nth-child(2) {
    opacity: 0;
}

.menu-open .menu-toggle span:nth-child(3) {
    top: 22px;
    transform: translateX(-50%) rotate(-45deg);
}

body.menu-open {
    overflow: hidden;
}


@media (max-width: 1540px) {
    .header-logo {
        max-width: 250px;
    }

    .header-menu a {
        font-size: var(--fs-16);
    }
}

@media (max-width: 1400px) {
    .header-logo {
        max-width: 220px;
    }

    .header-menu {
        gap: 34px;
    }

    .header-menu a {
        font-size: var(--fs-14);
    }
}

@media (max-width: 1024px) {

    .site-header {
        padding-block: 16px;
        height: 90px;
    }

    .header-wrapper {
        flex-wrap: nowrap;
        gap: 16px;
    }

    .header-logo {
        max-width: 180px;
        height: auto;
        position: relative;
        z-index: 300;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .header-actions {
        display: none;
    }

    .header-nav {
        position: fixed;
        top: 89px;
        border-top: 1px solid #E9E9E9;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        background-color: var(--color-white);
        /* padding: 40px 24px; */
        padding: 0px 0px;

        overflow-y: auto;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        clip-path: inset(0 0 100% 0);

        transition:
            clip-path 0.7s cubic-bezier(0.76, 0, 0.24, 1),
            opacity 0.45s ease,
            visibility 0.45s ease;

        z-index: 150;
    }

    .menu-open .header-nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        clip-path: inset(0 0 0 0);
    }

    .menu-closed .header-nav {
        opacity: 0;
        visibility: visible;
        pointer-events: none;

        clip-path: inset(0 0 100% 0);
    }

    .header-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .header-menu a {
        display: flex;
        font-size: 18px;
        line-height: 1.1;
        padding: 24px;
        border-bottom: 1px solid #dddddd;

    }

    .header-menu-item {
        opacity: 0;
        transform: translateY(12px);

        transition:
            opacity 0.45s ease,
            transform 0.45s ease;
    }

    .menu-open .header-menu-item {
        opacity: 1;
        transform: translateY(0);
        width: 100%;
    }

    .menu-closed .header-menu-item {
        opacity: 0;
        transform: translateY(-12px);
    }

    .menu-open .header-menu-item:nth-child(1) {
        transition-delay: 0.18s;
    }

    .menu-open .header-menu-item:nth-child(2) {
        transition-delay: 0.24s;
    }

    .menu-open .header-menu-item:nth-child(3) {
        transition-delay: 0.30s;
    }

    .menu-open .header-menu-item:nth-child(4) {
        transition-delay: 0.36s;
    }

    .menu-open .header-menu-item:nth-child(5) {
        transition-delay: 0.42s;
    }


    .header-menu a::after {
        content: url(../../media/icons/right.svg);
        position: absolute;

        right: 30px;
        top: 50%;

        transform: translateY(-50%);
        background: unset;
        left: unset;
        width: 30px;
        height: 10px;
    }

}